body{
    background-color: #aaaa5f;
    font-family: 'Geostar', 'Shantell Sans', cursive;
}

h1 {
    color: #aaffbc;
    margin: 20px auto 20px auto;
    width: 34%;
    /*background-color: antiquewhite;*/
    border: 2px groove green;
    padding: 2px 2px 2px 2px;
}

h2, p, li {
    font-family: "Shantell Sans";
}