* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
}
.grid-main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "input-operators output-answers ";
    padding: 20px;
    flex: 1 0 auto;
}
.input-operators{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /*grid-area: input-operator;*/
}
.output-answers{
    display: grid;
    grid-direction: row;
    grid-template-rows: auto;
    border: 3px solid #008ffb;
    border-radius: 10px;
    padding: 2%;
}

body{
    text-align: center;
}
.header-container{
    height: 100px;
    width: auto;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    background-color: #002752;
}

.title-header{
    box-sizing: border-box;
    text-align: center;
    float: outside;
    font-family: 'Tilt Neon', cursive;
    width: 70%;
}

.title-header h1{
    text-transform: uppercase;
    color: #FEFEF0;
    font-size: 50px;
    text-shadow: #0F0F0F 4px 3px 3px;
    margin: 0; padding: 0;
}

.title-header h6{
    color: #FEFEF0;
    font-size: 15px;
    text-shadow: #0F0F0F 1px 1px 1px;
    margin: 0; padding: 0;
}

.nav-header{
    width: 30%;
    color: #FEFEF0;
    text-align: center;
    float: right;
}

.nav-header li{
    list-style-type: none;
    font-family: Arial;
    text-transform: uppercase;
}
.nav-header a{
    display: block;
    letter-spacing: 1px;
    transition: color .4s linear;
    color: #FEFEF0;
}
.nav-header a:link{
    text-decoration: none;
}
.nav-header a:hover{
    color: #aaaa5f;
}
.nav-header a:visited{
    color: #FEFEF0;
}
.img-content{
    width: 8%;
    height: auto;
    float: outside;
}
