* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
main{
    align-items: center;
}

.header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.logo-rock{
    width: 40px;
}
.logo-onebitcode{
    width: 200px;
}
.buttons{
    display: flex;
    gap: 10px;
}

.buttonHeader{
    font-size: 15px;
    padding: 10px 10px;
    /*border-radius: 10px;*/
    /*background-color: transparent;*/
    /*border-color: #ffffff;*/
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s;
}
.buttonHeader:hover{
    color: #ff0044;
}
.container{
    display: flex;
    min-width: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.main-content{
    flex: 1 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "item0 item0 item0 item0"
    "item1 item2 item3 item10"
    "item4 item5 item6 item10"
    "item7 item8 item9 item10";
    gap: 10px
}
.submenu{
    width: 80%;
    text-align: center;
    padding: 15px;
    color: #fff0f0;
    background-color: #303050;
    flex: 1 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "item11"
    "item12"
    "item13"
    "item14"
    "item15";
    gap: 5px
}
.item0{
    grid-area: item0;
}
.item1{
    grid-area: item1;
}
.item2{
     grid-area: item2;
}
.item3{
      grid-area: item3;
}
.item4{
       grid-area: item4;
}
.item5{
        grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}
.item9{
    grid-area: item9;
}
.item10{
    grid-area: item10;
}
.item11{
    grid-area: item11;
}
.item12{
    grid-area: item12;
}
.item13{
    grid-area: item13;
}
.item14{
    grid-area: item14;
}
.item15{
    grid-area: item15;
}
.title-item{
    text-transform: uppercase;
}
.content-title{
    text-align: center;
}
.title-h2{
    text-transform: uppercase;
}
.main-content{

}
.main-section{
    border: 2px solid #ffffff ;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.subSection{
    border: 2px solid  #303050;
    border-radius: 10px;
    /*background-color: transparent;*/
    /*color: #ffffff;*/
    cursor: pointer;
    transition: 0.4s;
}
.sectionHover:hover{
    border-color: #ff0044;
}

.img-section{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: transparent;
}

.img-submenu{
    width: 70%;
    height: 150px;
    border-radius: 10px;
    background-color: transparent;

}
.subHover:hover{
    border-color: #fff0f0;
}