.img-content {
    width: 765px;
    height: 400px;
}

.text-content {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
    color: white;
}
@media(max-width: 795px){
    .img-content{
        width: 500px;
    }
    .text-content{
        font-size: 16px;
    }
    body {
        background-color: blue;
    }
}

@media(max-width: 510px){
    .img-content{
        width: 100%;
        height: auto;
    }
    .text-content{
        font-size: 14px;
    }
}
@media(max-width: 410px){
    .text-content{
        text-align: center;
    }
    body{
        background-color: #aaaa5f;
    }
}